body {
  font-family: Arial;
}

.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.container {
  display: grid;
  height: 100vh;
  gap: 5px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 100px);

  /* Alineando todo el contenido */
  /* Posibilidades para justify-content y align-content: start end center stretch space-around space-between space-evenly*/
  justify-content: center;
  align-content: center;
}
