body {
  font-family: Arial;
}

.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.container {
  display: grid;
  grid-template: repeat(2, 200px) / repeat(7, 1fr);
  height: 100vh;
  gap: 5px;
}

.item:nth-of-type(1) {
  grid-column: 1 / span 3;

  /* Definiendo tamaño de filas */
  grid-row: 1 / span 2;
}

.item:nth-of-type(2) {
  grid-column: 4 / span 2;

  /* Definiendo tamaño de filas */
  grid-row: 1 / span 2;
}

.item:nth-of-type(3) {
  grid-column: 6 / span 2;
}
