body {
  font-family: Arial;
}

.container {
  display: grid;
  /* grid-template-columns: 25% 50% 25%; */
  /* grid-template-rows: 300px 300px; */

  /* Para definir en una sola línea las filas y columas se utiliza lo siguiente */
  /* grid-template: filas / columnas; */
  grid-template: 300px 100px 100px / 50% 200px 100px;
}

.item {
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

/* Toma el elemento de tipo ITEM (en este caso) que le diga (en este ejemplo el cuarto - 4) */
.item:nth-of-type(4) {
  background: blue;
  overflow: auto;

  /* Nota: Aun no funciona -  Subgrid heredaria los tamaños de las filas y columnas del padre */
  /* display: subgrid; */
  display: grid;
  grid-template: 50px 50px 50px / 200px 200px 200px;

  /* Nota: Aun no funciona -  Otro tipo de display: Genera un display sin filas ni columnas*/
  display: inline-grid;
}

.item .item {
  background: yellow;
}
